// Variables, Mixins
@import 'variables';
/* Interstate */
@font-face {
    font-family: 'Interstate';
    src: url('https://31-cache11.stubhubstatic.com/resources/shape/images/common-10.0.0/fonts/Interstate/Interstate-Bold.woff2') format("woff2"), url('https://31-cache11.stubhubstatic.com/resources/shape/images/common-10.0.0/fonts/Interstate/Interstate-Bold.woff') format("woff");
    font-weight: 500
}

.ibox{
    -webkit-box-shadow:1px 5px 15px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 1px 5px 15px 0 rgba(0, 0, 0, 0.03);
}

[v-cloak] {
    display: none !important;
}
.top-nav-bg{
    background-color: #260354;
    color: white;
}
.navbar .dropdown-menu{
    width: 150px;
    opacity: 0.9;
    background-color: $turquoise;
    border-radius: 0;
    box-shadow: none;
}

.navbar-top-links .dropdown-menu {
    opacity: 1;
    pointer-events: fill;
    z-index: 5000;
}

.table {
    color: #999999;
    font-weight: 300;
}
.table-responsive{
    min-height: 500px;
}

.list-ticket{
    padding: 0;
}
.ibox-title {
    padding: 20px 30px;
    &-filter{
         background-color: #f6f6f6;
     }
}
.input-group-btn .dropdown-toggle{
    border-right: none;
}
#searchKeyword{
    min-width: 6rem;
}
#search-form{
    width: 66%;
}

.fileinput .btn{
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    height: 48px;
    margin-bottom: 10px;
}
.ibox-tools{
    top:5px;
    right: 5px;
}

.page-item.active .page-link{
    background-color: #f4f4f4;
    border-color: #dddddd;
    color: #676a6c;
}

