
// Variables, Mixins
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Elements
@import "typography.scss";
@import "navigation.scss";
@import "top_navigation.scss";
@import "buttons.scss";
@import "badges_labels.scss";
@import "elements.scss";
//@import "sidebar.scss";
@import "base.scss";
@import "pages.scss";
//@import "chat.scss";
//@import "metismenu.scss";
@import "spinners.scss";
@import "animate.scss";

// Custom style to override base style
@import "custom.scss";

// Media query style
@import "media.scss";
// plugins
@import "../vendor/toastr/toastr.scss";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  // plugins

// custom
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}

input, button{
    min-height: 2.5rem;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
