// Variables, Mixins
@import 'variables';
.loginColumns, .RegColumns {
    .title {
        font-size: 28px;
        font-weight: bold;
        margin-top: 30px !important;
        margin-bottom: 20px;
    }
    h1{
        margin-top: 20px !important;
        font-size: 24px;
        font-family: Interstate;
    }
    .ibox-content{
        border-radius: 8px;
    }
    .btn-inactive{
        margin-bottom: 20px;
    }
}
.text-forget{
    color: $navy;
}
.text-account{
    margin-top: 66px;
}
.btn-inactive{
    height: 40px;
    padding-top: 10px;
    border: $light-grey-blue 1px solid;
}

.RegColumns{
    .ibox{
        .ibox-content{
            margin:0 ;
            padding: 0;
        }
        .form{
            padding: 20px;
        }
    }
    .bg-img{
        color: #ffffff;
        margin: 0;
        padding: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: rgba(0, 0, 0, 0.4);
        background-image: url("/images/bg-login.jpg");
        //background-position: bottom; /* Center the image */
        background-position: 50% 50%;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */

        display: flex;
        justify-content: center;
        //align-items: center;

        .Buy-and-sell-tickets {
            width: 80%;
            margin-left: 10%;
            text-shadow: 1px 1px 2px #000000;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-top: 130px;

        }
        .Ticket {
            font-family: Interstate;
            font-size: 24px;
            font-weight: bold;
            position: absolute;
            bottom: 20px;
            right: 28px;
        }
    }

}
